# -----------------------------
# Python cache files
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# C extensions
# -----------------------------
*.so

# -----------------------------
# Distribution / packaging
# -----------------------------
.Python
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg
MANIFEST

# -----------------------------
# Virtual environments
# -----------------------------
.env
.venv
env/
venv/
ENV/

# -----------------------------
# Excel files (ignore all except sample)
# -----------------------------
*.xlsx
*.xls
!sample_data.xlsx

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints

# -----------------------------
# IDEs
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Streamlit cache
# -----------------------------
.streamlit/
